body, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden; /* hide scrollbars */
    width: 100%;
    height: 100%;
    border: 2px solid white;
    box-sizing: border-box;
}

canvas {
    background-color: #202020;
    display: block; /* fit the screen, no scrollbars */
}
